
<script src="/static/js/core/app_state.js"></script>
<script src="/static/js/core/ws_client.js"></script>
<script src="/static/js/core/dom.js"></script>
<script src="/static/js/core/loading_overlay.js"></script>
<script src="/static/js/core/delta_router.js"></script>
<script src="/static/js/render/format.js"></script>
<script src="/static/js/render/order_groups.js"></script>
<script src="/static/js/render/order_book.js"></script>
<script src="/static/js/render/opportunity_chart.js"></script>
<script src="/static/js/render/screener.js"></script>
<script src="/static/js/render/opportunity.js"></script>
<script src="/static/js/render/orders.js"></script>
<script src="/static/js/render/settings.js"></script>
<script src="/static/js/render/paper_trades.js"></script>
<script src="/static/js/app.js"></script>
